.header__dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

button.header__dropdown-btn {
  font-family: 'Press Start 2P', sans-serif;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: 5px solid rgb(222, 155, 5);  
  outline: none;
  padding: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  width: 100%;
}

button.header__dropdown-btn:hover {
  background-color: rgb(222, 155, 5);
  border: 5px solid #fff;
  color: #fff;
}