.header__container {
  width: 100vw;
  padding: 2rem 0;
}

.header__container-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-container {}
.header__logo {
  font-size: 2rem;
  font-weight: 600;
}

.header__logo-img {
  background-image: url('assets/images/01-tsr-logo-200.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
}

.header__navbar-container {}
.header__navbar {}

.header__navbar.header__navbar-loggedin {
  display: flex;
  align-items: center;
}

.header__navbar-btn {
  font-size: 18px;
  font-weight: 600;
  padding: 1rem 2rem;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 5px;
  margin-left: 2rem;
}

.header__navbar-btn-container {
  display: flex;
  justify-content: space-around;
}


.header__navbar-dropdown-btn {
  display: inline-block;
  padding: 1rem;
  margin-left: 2rem;
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  border: 5px solid blue;
  padding: 1rem;
  background-color: transparent;
  font-family: 'Press Start 2P', sans-serif;
  cursor: pointer;
}

.header__container {}

.header__navbar-user-wrapper {
  font-size: 1.2rem;
  text-align: right;  
}