.header__container {
  width: 100vw;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
}

.header__container-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-container {}
.header__logo {}
.header__navbar-container {}
.header__navbar {}



.header__container {}
.header__container {}