.creategame__button, .joingame__button {
  background-color: transparent;
  color: #fff;
  border: 5px solid rgb(222, 155, 5);
  font-family: 'Press Start 2P', sans-serif !important;
  cursor: pointer;
  padding: 1.4rem;
  font-size: 1rem;
  width: 100%;
  text-transform: uppercase;
}

.creategame__button:hover, .joingame__button:hover {
  background-color: rgb(222, 155, 5);
  border: 5px solid #fff;
}

.multi__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.joingame__button{
  margin-bottom: 1.4rem;
}

.joingame__button:disabled, .creategame__button:disabled{
  background: grey;
  color: black;
  border: 5px solid black;
  opacity: .5;
  cursor: not-allowed;
}

.joingame__button:disabled:hover, .creategame__button:disabled:hover{
  background: grey;
  color: black;
  border: 5px solid black;
}

.multi__btn-wrapper {
  max-width: 300px;
}

h2.multioptions__title {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.gameLink{
  text-decoration: none;
  color: white;
  width: 100%;
}