.creategame__button, .joingame__button {
  background-color: transparent;
  color: #fff;
  border: 5px solid rgb(222, 155, 5);
  font-family: 'Press Start 2P', sans-serif !important;
  cursor: pointer;
  padding: 1.4rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.creategame__button:hover, .joingame__button:hover {
  background-color: rgb(222, 155, 5);
  border: 5px solid #fff;
}

.multi__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.joingame__button{
  margin-bottom: 1.4rem;
}

.joingame__button:disabled, .creategame__button:disabled{
  background: grey;
  color: black;
  border: 5px solid black;
  opacity: .5;
  cursor: not-allowed;
}

.joingame__button:disabled:hover, .creategame__button:disabled:hover{
  background: grey;
  color: black;
  border: 5px solid black;
}

.multi__btn-wrapper {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: flex-end;
}

h2.multioptions__title {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.gameLink{
  text-decoration: none;
  color: white;
  width: 100%;
}

.multi__rooms {
  width: 100%;
}

.multi__rooms-header {
  font-size: 1.8rem;
}

.multi__rooms-inner {
  width: 100%;
  color: #fff;
  border: 5px solid rgb(222, 155, 5);
  height: 500px;
  overflow-y: scroll;
  // padding: 2rem;
}

.multi__rooms-loading {
  width: 100%;
  height: 100%;
}

.multi__rooms-row--first {
  padding: 1.6rem 2rem !important;
  border: 5px solid rgb(222, 155, 5);
  background-color: white;
  color: black;
  cursor: default;
}

.multi__rooms-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid rgba(255,255,255,.2);
  padding: 1.2rem;
  
}

.multi__rooms-row:hover {
  background-color: rgba(255,255,255,0.15);
  cursor: pointer;
}

.multi__rooms-row--first:hover {
  background-color: white;
  color: black;
}

.multi__rooms-item {
  font-size: 1.2rem;
  text-align: center;
  flex: 1;
  line-height: 2rem;
}

.multi__rooms-btn {
  margin-bottom: 0;
  padding: 0.8rem 1.4rem;
}
