.game__input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__display-paragraph {
  max-width: 60%;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 3rem;  
}

.game__input-box-outer {
  width: 60%;  

}

.game__input-box {
  padding: 1rem;
  font-size: 24px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(0,0,0,.3);  
  width: 100%;
}

