.game__input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game__display-paragraph {
  max-width: 75%;
  font-size: 12px;
  line-height: 1.8rem;
  margin-bottom: 2rem;
  overflow-wrap: break-word;
  padding: 3rem;
  background-color: rgba(0,0,0,0.8);
  margin-top: 10%;
}



.game__input-box-outer {
  width: 60%;  
  display: flex;
  justify-content: center;
}

.game__input-box {
  padding: 1rem;
  font-size: 16px;
  border-radius: 0;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  background-color: rgba(0,0,0,.8);
  border: 5px solid blue;
  /* font-family: "Press Play 2P" !important; */
  color: #fff;
}

.input__bg--green {
  background-color: lawngreen !important;
}

.input__bg--red {
  background-color: red !important;
  color: #fff !important;
}

@media only screen and (max-width: 1200px) {
  .game__display-paragraph {
    max-width: 80%;
    font-size: 10px;
    line-height: 1.5rem;
  }
}
