.multigame__container {

}
.multigame__top {
  margin-top: 2rem;  
}
.multigame__top-stats-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.multigame__top-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.multigame__player-name {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.multigame__player-health {
  font-size: 1.8rem;
  margin-bottom: 1rem;  
}
.multigame__player-wpm {
  font-size: 1rem;
}


.multigame__top-timer {
  font-size: 1rem;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 15%;
}

.multigame__top-timer-text {
  font-size: 1rem;
  margin-bottom: 0;  
}

.multigame__top-time {
  text-align: center;
  margin-top: 0;
  font-size: 1rem;  
}

.multigame__fight-container {
  text-align: center;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  border-radius: 5px;
  margin: 10rem 0 3rem 0;
} 