.singlegame__top {
  // margin-bottom: 10rem;
  width: 100%;
  padding: 3rem;
}
.singlegame__top-stats-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.singlegame__top-player {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.singlegame__player-name {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.singlegame__player-health {
  font-size: 1rem;
  margin-bottom: 1rem;  
}
.singlegame__player-wpm {
  font-size: 1rem;
}

.singlegame__top-time {
  text-align: center;
  margin-top: 0;
}

h3.singlegame__top-timer-text {
  font-size: 1rem;
}

.singlegame__top-stats-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.singlegame__fight-container {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: pink;
  border-radius: 5px;
  margin: 3rem 0;
  background-image: linear-gradient(0deg, transparent 0%, rgba(0,0,0,0.3) 85%, black 100%),url('assets/images/01-street-fighter-background-optimized.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  // display: none;
}

.singlegame__container {
  margin-top: 4rem;
}



// Word styling

.word__span {
  transition: all 100ms ease-in;
  color: #fff;
  display: inline-block;
}

.word__span--correct {
  color: blue;
  // background: linear-gradient(rgba(255,255,255,1) 0%, rgba(38, 110, 255, 1) 28%, rgb(166, 58, 130), #fff);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

.game__input-preview {
  position: absolute;
  top: -2rem;
}

.game__input-box-outer {

}
.game__input-box-outer {
  position: relative;
}


//////////
// Gameplay Characters
//////////

.player1 {
  background-image: url('assets//images/01-ken-sprite.png');
  width: 11rem;
  height: 15rem;
  position: absolute;
  bottom: 3rem;
  left: 22rem;
  background-size: 900%;
  background-position-x: -27px;
  background-position-y: -6px;
  animation-name: player1__move;
  animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes player1__move {
  0% { background-position-x: -27px; }
  20% { background-position-x: -219px; }
  40% { background-position-x: -431px; }
  50% { background-position-x: -631px; }
  60% { background-position-x: -631px; }
  80% { background-position-x: -631px; }
}

.player2 {
  background-image: url('assets//images/01-ryu-sprite.png');
  width: 11rem;
  height: 17rem;
  position: absolute;
  bottom: 2.7rem;
  right: 26rem;
  background-size: 950%;
  background-position-x: -53px;
  background-position-y: -4px;
}