.gameselect__container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.gameselect__box {
    display: block;
    width: 100%;
    justify-content: center;
}

.gameselect__message {
    display: flex;
    width: 100%;
    padding: 1em;
    justify-content: center;
    margin: 2em;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.gameselect__button-container {
    display: flex;
    flex-direction: column;
    // position: relative;
    font-size: 2rem;
    width: 50%;
    background-color: transparent;
    justify-content: center;
    margin: 1em;
    text-align: center;
    align-items: center;
}

.gameselect__button {
  font-family: 'Press Start 2P', sans-serif;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: 5px solid rgb(222, 155, 5);  
  outline: none;
  padding: 1.4rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.gameselect__button:hover {
  background-color: rgb(222, 155, 5);
  border: 5px solid #fff;
  color: #fff;
}


.gameselect__box-flex {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

.gameselect__button:hover {
    // background-color: #cce2ff;
}

.gameselect__button-singlePlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.gameselect__button-multiPlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.gameselect__instructions-container-singlePlayer {
    display: none;
    position: absolute;
    width: 33%;
    right: 0;
    font-size: 1rem;
    text-align: left;
}

.gameselect__instructions-container-multiPlayer {
    display: none;
    position: absolute;
    width: 33%;
    left: 0;
    font-size: 1rem;
    text-align: left;
}

.gameselect__button:hover + .gameselect__instructions-container-singlePlayer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gameselect__button:hover + .gameselect__instructions-container-multiPlayer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow_box-left {
	border: 5px solid rgb(222, 155, 5);
}
.arrow_box-left:after, .arrow_box-left:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box-left:after {
	border-color: rgba(255, 255, 255, 0);
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box-left:before {
	border-color: rgba(0, 0, 255, 0);
	border-right-color: rgb(222, 155, 5);
	border-width: 37px;
	margin-top: -37px;
}

.arrow_box-right {
	border: 5px solid rgb(222, 155, 5);
}
.arrow_box-right:after, .arrow_box-right:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box-right:after {
	border-color: rgba(255, 255, 255, 0);
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box-right:before {
	border-color: rgba(0, 0, 255, 0);
	border-left-color: rgb(222, 155, 5);
	border-width: 37px;
	margin-top: -37px;
}

.arrow_box-left li {
    padding: 10px 0px;
    line-height: 1.8rem;
}

.arrow_box-right li {
    padding: 10px 0px;
    line-height: 1.8rem;
}