.gameselect__container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.gameselect__box {
    display: block;
    width: 100%;
    justify-content: center;
}

.gameselect__message {
    display: flex;
    width: 100%;
    padding: 1em;
    justify-content: center;
    margin: 2em;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.gameselect__button-container {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 2rem;
    width: 50%;
    background-color: transparent;
    justify-content: center;
    margin: 1em;
    text-align: center;
    align-items: center;
}

.gameselect__button {
  font-family: 'Press Start 2P', sans-serif;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: 5px solid blue;
  outline: none;
  padding: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.gameselect__button:hover {
  background-color: blue;
  border: 5px solid #fff;
  color: #fff;
}


.gameselect__box-flex {
    display: flex;
    width: 100%;
    justify-content: center;
}

.gameselect__button:hover {
    // background-color: #cce2ff;
}