@import './stylesheets/header/header.scss';
@import './stylesheets/header/header_dropdown.scss';
@import './stylesheets/mainpage/mainpage.scss';
@import './stylesheets/gameplay/multi.scss';
@import './stylesheets/gameplay/single.scss';
@import './stylesheets/gameplay/input.scss';
@import './stylesheets/gameselect/gameselect.scss';
@import './stylesheets/leaderboard/leaderboard.scss';
@import './stylesheets/session_form/session_form.scss';
@import './stylesheets/modal/modal.scss';
@import './stylesheets/game_options/game_options.scss';
@import './stylesheets/game_options/multi_options.scss';


// colors

// purple => rgb(52, 31, 52)
// bright purple => rgb(77, 31, 77)
// light purple => rgb(166, 58, 130)
// royal blue => rgb(38, 110, 255)
// dark blue => rgb(40, 59, 115);
// purple => rgb(52, 31, 52)
// purple => rgb(52, 31, 52)
// purple => rgb(52, 31, 52)
// purple => rgb(52, 31, 52)




body{
  font-family: 'Press Start 2P', sans-serif;
  // font-family: 'Teko', sans-serif;
  font-size: 80%;
  background-color: rgba(0,0,0,.9);
  color: #fff;
  background-image: linear-gradient(180deg, rgba(0,0,0,1), rgba(166, 58, 130, .3)), url('./assets/images/01-tron-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Press Start 2P', cursive;
}

.main__container {
  max-width: 1200px;
  margin: 0 auto;
}