@import './stylesheets/header/header.scss';
@import './stylesheets/header/header_dropdown.scss';
@import './stylesheets/mainpage/mainpage.scss';
@import './stylesheets/gameplay/multi.scss';
@import './stylesheets/gameplay/single.scss';
@import './stylesheets/gameplay/input.scss';
@import './stylesheets/gameplay/character.scss';
@import './stylesheets/gameplay/character2.scss';
@import './stylesheets/gameselect/gameselect.scss';
@import './stylesheets/leaderboard/leaderboard.scss';
@import './stylesheets/session_form/session_form.scss';
@import './stylesheets/modal/modal.scss';
@import './stylesheets/game_options/game_options.scss';
@import './stylesheets/game_options/multi_options.scss';


// colors

// purple => rgb(52, 31, 52)
// bright purple => rgb(77, 31, 77)
// light purple => rgb(166, 58, 130)
// royal blue => rgb(38, 110, 255)
// dark blue => rgb(40, 59, 115);
// purple => rgb(52, 31, 52)
// purple => rgb(52, 31, 52)
// purple => rgb(52, 31, 52)
// purple => rgb(52, 31, 52)

//logo yellow => rgb(222, 155, 5)
//logo red => rgb(222, 5, 5)




body{
  font-family: 'Press Start 2P', sans-serif;
  // font-family: 'Teko', sans-serif;
  font-size: 80%;
  background-color: rgba(0,0,0,1);
  color: #fff;
  // background-image: linear-gradient(180deg, black, rgba(38, 110, 255, 0.13)), url('./assets/images/01-tron-bg.jpg');
  // background-image: linear-gradient(175deg, black, black 70%, rgba(0,0,0,.7) 85%, rgba(38, 110, 255, 0.13)), url('assets/images/02-street-fighter-background-optimized.jpg');
  background-image: linear-gradient(180deg, black, rgba(38, 110, 255, 0.13)), url('./assets/images/01-tron-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Press Start 2P', cursive;
}

input[type='text'] { 
  font-family: 'Press Start 2P' !important; 
  border: 5px solid rgb(222, 155, 5);
}

input[type='text']:focus {
  outline: none !important;
} 


.main__container {
  max-width: 1200px;
  margin: 0 auto;
}