.modal__background {
  background-color: rgba(0,0,0,.95)  ;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.modal__child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// GAME END SINGLE MODAL

.gameend-single__modal-container {
  padding: 3rem;
  text-align: center;
}
h2.gameend-single__modal-header {
  font-size: 2rem;
}
p.gameend-single__modal-stat-single {
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.gameend-single__modal-btn-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameend-single__modal-btn {
  background-color: transparent;
  color: #fff;
  border: 5px solid rgb(222, 155, 5);
  font-family: 'Press Start 2P', sans-serif !important;
  cursor: pointer;
  padding: 1.4rem;
  font-size: 1rem;
  margin: 1rem;
}

.gameend-single__modal-btn:hover {
  background-color: rgb(222, 155, 5);
  border: 5px solid #fff;
  color: #fff;
}